body{
  background-color: rgb(120, 182, 240);
}
.App{
  text-align: center;
}

.todo-form{
  display: flex;
  flex-direction: column;
  width: 300px;
  /* center to the parent */
  height: 300px;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.todo-list{
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
}

.todo-item{
  background-color: white;
  width: 200px;
  height: 150px;
  box-shadow: 0 20px 20px -10px rgb(22, 129, 190);
  text-align: center;
  border-radius: 6px;
  flex-direction: column;
  height: max-content;
}

.delete-button{
  color: white;
  background-color: rgb(228, 86, 86);

}

.edit-button{
  background-color: rgb(109, 109, 230);
  color: white;
  
}

.input-group{
  display: flex;
  justify-content: center;
}

.close-button{
  background-color: rgb(228, 86, 86);
  color: white;
  font-weight: bolder;
}

input[type="submit"]{
  padding: 10px;
  box-shadow: 0 20px 20px -10px rgb(199, 199, 199);
  transition: .2s linear;
}
input[type="submit"]:hover{
  color: white;
  background-color: rgb(35, 205, 26);
  border: none;
  font-weight: bold;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* center to the parent */
  height: 300px;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}
